/* src/styles/global.css */
@import './styleguides/loosewire.css';
@import './styleguides/harknotes.css';
@import './styleguides/farscry.css';

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
